body {
    font-family: 'Hind', sans-serif;
}

nav,
.navbar,
.navbar-expand {
    padding: 0;
}

.brand-container,
.brand-container a {
    padding: 0;
}

#navbarCollapse ul {
    padding-right: 2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #525252;
    font-size: 20px;
}

.navbar-toggler {
    border: none;
    font-size: 1.5rem;
}

.navbar-light {
    color: black;
}

.nav-item {
    padding: 0rem .75rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

#header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #e5e5e5;
}

#header-section .col-md-5 {
    padding: 0rem 2.75rem 0rem 3rem;
}

.heading {
    font-size: 80px;
    font-weight: 700;
    color: #f98c23;
}

.subheading {
    font-size: 28px;
}

.join-now {
    background: #f98c23;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    padding: 1rem 2rem 0.5rem 2rem;
}

.services-container {
    margin-top: 5rem;
}

.services-container .services-cards .card {
    padding: 3rem 1.5rem;
}

.card .card-img-top {
    width: 20%;
    align-self: center;
}

.card-body h3 {
    color: #f98c23;
    font-weight: 700;
    font-size: 32px;
    padding: 1.25rem 0rem 0.25rem 0rem;
}

.card-text {
    font-size: 18px;
    line-height: 1.25rem;
}

.orange-arrow {
    width: 40px !important;
}

.light-card {
    background-color: #eeeeee;
}

.dark-card {
    background-color: #e5e5e5;
}

#cross-card img {
    width: 60px;
}

#forged-card img {
    width: 85px;
}

#strike-card img {
    width: 95px;
}

#excalibur-card img {
    width: 100px;
}


/* #ignite-card img {
    width: 95px;
} */

#contact-card img {
    width: 65px;
}

@media screen and (max-width:991px) {
    #navbarCollapse ul {
        text-align: center;
        padding: 1.5rem;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #ffffff !important;
        font-size: 24px;
    }
    .nav-item {
        padding: .4rem 0;
    }
    .navbar-collapse {
        background: #f98c23;
    }
    #header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #e5e5e5;
        padding: 0rem!important;
        /* height: 90vh; */
    }
    #header-section .col-md-5 {
        padding: 3rem 1rem 6rem 1rem;
    }
    .heading {
        font-size: 32px;
        font-weight: 700;
        color: #f98c23;
        padding: 3rem 1rem 1rem 1rem;
    }
    .subheading {
        font-size: 18px;
        padding: 0rem 2.5rem 1rem 2.5rem;
    }
    .join-now {
        background: #f98c23;
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
        padding: 1rem 2rem;
    }
    .services-container {
        padding: 1rem 0.5rem;
    }
    .services-container h1 {
        text-align: center;
        font-weight: 700;
    }
    .services-container .services-cards .card {
        padding: 2.5rem 0.5rem;
    }
    .card-body h3 {
        color: #f98c23;
        font-weight: 700;
        font-size: 28px;
        padding: 1.25rem 0rem 0.25rem 0rem;
    }
    .card-text {
        font-size: 16px;
        line-height: 1.25rem;
    }
    .orange-arrow {
        width: 40px !important;
    }
}