body {
    font-family: 'Hind', sans-serif;
    padding-top: 50px;
}

nav,
.navbar,
.navbar-expand {
    padding: 0;
}

.navbar {
    background: #ffffff;
    border-bottom: 0.25px solid #eeeeee;
}

.brand-container,
.brand-container a {
    padding: 0;
}

#navbarCollapse ul {
    padding-right: 2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-size: 20px;
}

.navbar-toggler {
    border: none;
    font-size: 1.5rem;
}

.navbar-light {
    color: black;
}

.nav-item {
    padding: 0.20rem 1rem 0rem 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

#header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #e5e5e5;
}

#header-section .col-md-5 {
    padding: 0rem 2.75rem 0rem 3rem;
}

.heading {
    font-size: 80px;
    font-weight: 700;
    color: #f98c23;
}

.subheading {
    font-size: 26px;
}

.join-now {
    background: #f98c23;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
    padding: 1rem 2rem 0.75rem 2rem;
}

.section {
    margin-top: 10rem;
}

.section-heading {
    font-size: 48px;
    text-align: center;
    /* text-decoration: underline; */
    padding: 1.5rem 0rem;
    color: #525252;
}

.services-cards,
.memberships-cards,
.reviews-section {
    justify-content: center;
}

.services-container .services-cards .card {
    padding: 3rem 2rem;
    min-height: 425px;
}

.card .card-img-top {
    width: 20%;
    align-self: center;
}

.card-body h3 {
    color: #f98c23;
    font-weight: 700;
    font-size: 36px;
    padding: 1rem 0rem;
}

.card-text {
    font-size: 18px;
    line-height: 1.25rem;
    padding: 0rem 0.75rem;
}

.orange-arrow {
    width: 40px !important;
}

.light-card {
    background-color: #eeeeee;
}

.dark-card {
    background-color: #e5e5e5;
}

#cross-card img {
    width: 60px;
}

#forged-card img {
    width: 85px;
}

#strike-card img {
    width: 95px;
}

#excalibur-card img {
    width: 100px;
}

#contact-card img {
    width: 65px;
}

.forge-video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
    background: #f98c23;
}

.promo-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 5rem 6rem;
}

.memberships-cards .card {
    max-width: 400px;
    min-height: 475px;
    margin: 0.5rem;
    padding: 1.5rem 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.card-heading {
    background: #f98c23;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    padding-top: 0.5rem;
    margin: 0;
}

.memberships-cards .card .card-body .card-title {
    padding: 1rem;
}

.memberships-cards .card .card-body .card-text {
    padding: 1rem 1.5rem;
}

.reviews-section {
    background: #e5e5e5;
}

.reviews-section .container {
    padding: 5rem 0rem;
}

.news-section {
    margin-top: 10rem;
}

.news-images img {
    max-width: 400px;
}

.footer-section {
    background: #eeeeee;
}

.footer-section .container {
    padding: 5rem 2.5rem;
    color: #525252 !important;
    font-size: 18px;
}

@media screen and (max-width:991px) {
    #navbarCollapse ul {
        text-align: center;
        padding: 1.5rem;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #ffffff !important;
        font-size: 24px;
    }
    .nav-item {
        padding: .4rem 0;
    }
    .navbar-collapse {
        background: #f98c23;
    }
    #header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #e5e5e5;
        padding: 0rem!important;
        /* height: 90vh; */
    }
    #header-section .col-md-5 {
        padding: 3rem 1rem 6rem 1rem;
    }
    .heading {
        font-size: 32px;
        font-weight: 700;
        color: #f98c23;
        padding: 3rem 1rem 1rem 1rem;
    }
    .subheading {
        font-size: 18px;
        padding: 0rem 2.5rem 1rem 2.5rem;
        line-height: 1.25rem;
    }
    .join-now {
        background: #f98c23;
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
        padding: 1rem 2rem;
    }
    .section {
        margin-top: 5rem;
        padding: 0rem 2rem;
    }
    .section-heading {
        font-size: 32px;
        text-align: center;
        padding: 0.5rem 0rem;
    }
    .services-container {
        margin-bottom: 2.5rem;
    }
    .services-container h1 {
        text-align: center;
        font-weight: 700;
        font-size: 28px;
    }
    .services-container .services-cards .card {
        padding: 2.5rem 0.5rem;
        min-height: 350px;
    }
    .card {
        min-height: 350px;
    }
    .card-body h3 {
        font-size: 24px;
    }
    .card-text {
        font-size: 16px;
        line-height: 1.25rem;
    }
    .responsive-iframe {
        padding: 1.25rem;
    }
    .memberships-cards .card {
        min-width: 300px;
        min-height: auto;
        max-height: 450px;
    }
    .memberships-cards .card .card-body .card-text {
        padding: 1rem;
    }
    .reviews-section {
        padding: 0;
    }
    .news-section {
        margin-top: 5rem;
    }
    .news-images img {
        max-width: 350px;
    }
}